.chats-screen {
  padding: 0px var(--content-padding);
}

.chats__noti-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chats__noti {
  background-color: tomato;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;

  margin-top: 8px;

  /* position: absolute;
  top: -20px;
  left: 20px; */
}
