.find-screen {
  display: flex;
  flex-direction: column;
  padding: 0px var(--content-padding);
}

.find-menu {
  display: flex;
  justify-content: space-around;
  padding: var(--content-padding) 0px;
}

.find-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.find-menu-item span {
  margin-top: 20px;
}

.find-separator {
  border-top: 1px solid var(--gray);
}

.find-open-chat-list,
.find-recommend-friends {
  color: var(--gray);
  padding: var(--content-padding) 0px;
}

.find-recommend-friends-list {
  display: flex;
  height: 230px;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.find-open-chat-list-header {
  display: flex;
  justify-content: space-between;
}

.find-oepn-chat-cell {
  display: flex;
  justify-content: space-between;
}

.find-oepn-chat-cell-column {
  display: flex;
  flex-direction: column;
}

.find-open-chat-thumbnail {
  border-radius: 35%;
  width: 30px;
  height: 30px;
}
