.status-bar
{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 4px;
    /* background-color: white; */
    background-color: inherit;
    z-index: 1;
}

.status-bar__column:first-child span
{
    margin-right: 5px;
}

.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__icon{
    width: 20px;
    height: 20px;
    margin: 0px 3px;
}

.status-bar__column
{
    display: flex;
    width: 33%;
    background-color: inherit;
    /* width: 30px */
}