.user-component
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.user-component__column
{
    display: flex;
    align-items: center;
    /* padding: 20px 25px; */
}

.user-component__column-message-info
{
    flex-direction: column;
    align-items: end;
}

.user-component__column span{
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar
{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__avatar-big
{
    width: 80px;
    height: 80px;
    border-radius: 35px;
}

.user-component__avatar-small
{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__text
{
    
}

.user-component__title
{
    font-size: 28px;
    font-weight: 600;
}

.user-component__title--not-bold
{
    font-size: 24px;
    font-weight: 400;
}

.user-component__sub-title
{
    margin-top: 10px;
    font-size: 18px;
    opacity: .5;
}

.user-component_new-message_noti
{
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;

    margin-top: 8px;
    /* position: absolute;
    right: -15px;
    top: -30px; */
}

.user-component__time
{
    color: rgba(0, 0, 0, 0.5);
}

.user-component__address
{
    margin-top: 10px;
    color: var(--gray);

    display: flex;
    align-items: center;
}

.user-component__address-icon
{
    width: 22px;
    height: 22px;

    margin-left: 5px;
    color: tomato;
}

.user-component__send-message
{
    width: 50px;
    height: 50px;
}